.main{
    height: 60vh;
    background-color: #004b79 !important;
    color: white;
    padding: 5%;
    border-radius: 0px 0px 20px 20px;
    .nex-hour
    {
      border-radius: 15px;
      background-color: white !important;
      color: black;
      padding-top: 1% !important;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .nex-days
    {
        height: 520px;
        margin-top: 4%;
        border-radius: 15px;
        background-color: white !important;
        color: black;
        padding-top: 1% !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
    }
}

